<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
<a href="BIBBY">bibby</a>
<a href="jump">bibby</a>
<div  ng-form name="myForm">
<form >
<table border="solid">

<thead><tr><th colspan="2">aaaa</th></tr></thead>

<tbody>
<!--  
<tr><td>姓氏</td><td><input type="text" name="last_name" ng-model="inputVO.last_name"/></td></tr>
<tr><td>名字</td><td><input type="text" name="first_name" ng-model="inputVO.first_name"/></td></tr>
<tr><td>身分證字號</td><td><input type="text" name="id" ng-model="inputVO.id"/></td></tr>
<tr><td>電子信箱</td><td><input type="text" name="email" ng-model="inputVO.email"/></td></tr>
<tr><td align="center" colspan="2"><button ng-click=query()>查詢</button>
<button ng-click="insert()">新增</button>
<button ng-click="update()">修改</button>
<button ng-click="cancel()">刪除</button>
<button ng-click="hello()">跳轉</button>
</td></tr>
<tr><td><button ng-click="hello()">跳轉</button></td></tr>
-->
</tbody>

</table>
</form>
</div>
</body>

</html>